.login-container {
    background-color: rgb(240, 242, 245);
    height: 100vh; /* Chiều cao là 100% chiều cao của màn hình */
    display: flex; /* Sử dụng flexbox để căn giữa nội dung */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  

.button-login {
    width: 70%;
}


.button-singup {
  width: 100%;
  font-size: 18px;
  background-color: #414643;
  margin-top: 10px;

  &:hover {
    background-color: #313335;
  }
}

.separator {
  border-bottom: 1px solid rgb(195, 200, 207); /* Đường thẳng ngang màu đen */
  width: 100%; /* Chiều rộng đầy đủ */
  margin: 20px 0; /* Khoảng cách trên và dưới của đường thẳng */
}

.button-link {
  width: 100%;
  font-size: 14px;
  background-color: #ffffff;
  color: black;
  border: 1px solid rgb(195, 200, 207);
  font-weight: normal; /* Chữ không in đậm */
  text-align: left;

  &:hover {
    background-color: #edf1f4;
  }
}


.form-logo {
  width: 120px; /* Định kích thước của logo */
  margin-bottom: 90px; /* Khoảng cách giữa logo và các phần tử khác */
}


.error-message {
  color: red;
  font-size: 10px;
  margin: 0px;

}


.list_input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


.list_button_link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}


.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Giá trị z-index cao để spinner chồng lên phần tử khác */
}

.blurred {
  filter: blur(3px); /* Mờ hóa nội dung */
  pointer-events: none; /* Không cho phép tương tác với các phần tử bên dưới */
  transition: filter 0.3s ease; /* Hiệu ứng mờ diệu chuyển */
}


