


.message-style {
    background-color: rgb(36,37,38); 
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

.header-style{
  color: rgb(255, 255, 255);
  /* border-bottom: 1px solid rgb(94, 96, 97); */
  padding-left:  20px;
  padding-right: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}


.body-style{
  color: rgb(255, 255, 255);
  padding-right: 5px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}




.footer-style{
  color: rgb(255, 255, 255);
  padding-left:50px ;
  padding-right:70px ;
  padding-bottom:25px ;
  padding-top: 15px ;
  
}


.rounded-sm {
  border-radius: 0.99rem; 
  color: transparent;
  width: 33px;
  height: 33px;
  
}

.title-style{
  font-family: 'Helvetica'; 
  font-weight: 15; 
  color: #ffffff; 
  margin-left: 5px; 
}


.messline-style{
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.messline-style1{
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: rgb(32,37,44);
  border-top: 1px solid rgb(57,62,75);
  border-bottom: 1px solid rgb(57,62,75);

}

.avatar-style{
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}


.content-style{
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-top: 7px ;
  margin-bottom: 7px;
  text-align: justify;
  
}





